<!DOCTYPE html>
<html lang="en">
<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">

  <!-- stylesheet -->
  <link rel='stylesheet' type='text/css' href='../style/styles.css'>

  <title>Latest Mars News</title>
</head>

<body>
  <div class="container-fluid ml-1">
      <div class="row bg-light">
          <div class="col-xs-12 header_container">
              <header>
                  <h2>Mission to Mars</h2>
                  <button type="button" class="btn btn-primary"><a class="btn btn-primary" href="/scrape" role="button">Scrape New Data</a></button>
              </header>
          </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <h3>Latest Mars News</h3>
          <h5>{{ nasa_title }}</h5>
          <p>{{ nasa_pp }}</p>
        </div>
      </div>
      <div class="row">
        <div class="col-6" style='padding:0'>
          <h3>Featured Mars Image</h3>
          <img src= {{ jpl_img  }} class='img-fluid' alt="Featured Image">
        </div>
        <div class="col-6 table_container">
            <h4>Mars Facts</h4>
            {{ table|safe }}
        </div>
      </div>
    </div>
</body>
</html>