<!DOCTYPE html>
<html lang="en">
<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">

  <title>Latest Mars News</title>
</head>

<body>
    <div class="container-fluid ml-1" style='margin-bottom: 50px;'>
      <!-- giving the header section a light grey background -->
      <div class="jumbotron text-center mx-0 px-0">
        <header>
          <h2>Mission to Mars</h2>
          <button type="button" class="btn btn-primary" style='margin-left:20px;'>
            <a class="btn btn-primary" href="/scrape" role="button">Scrape New Data</a>
          </button>
        </header>
      </div>
      <!-- end of div class jumbotron for holder header contents -->
      <!-- non-header section containing everything else on the page -->
      <div class='non_header' style='padding-left: 50px;'>
        <div class="row">
          <!-- most recent headline and sub-text -->
          <div class="col-xs-12 pl-4">
            <h3>Latest Mars News</h3>
            <h5>{{ nasa_title }}</h5>
            <p>{{ nasa_pp }}</p>
          </div>
          <!-- end of div class col 12 (mars news col)-->
        </div>
        <!-- end of div class row (mars news row)-->
        <div class="row">
          <div class="col-lg-6 col-xs-12 pl-4">
            <h3>Featured Mars Image</h3>
            <img src= {{ jpl_img  }} class='img-fluid' alt="Featured Image">
          </div>
          <!-- end of div class col 6 (featured mars img)-->
          <div class="col-lg-6 col-xs-12" style='padding-left: 70px;'>
              <h4>Mars Facts</h4>
              <!-- using |safe to make sure the table reads as a table, not a string -->
              {{ table|safe }}
          </div>
          <!-- end of div class col 6 (table)-->
        </div>
        <!-- end of div class row (img and table) -->
        <div class='row pt-5'>
          <div class='col-12'>
            <!-- heading for hemispheres section - making sure centred -->
            <div class='w-25 mx-auto'>
              <h4>Mars Hemispheres</h4>
            </div>
          </div>
          <!-- end of div class col 12 (mars hemi title) -->
          <!-- using cards to hold mars hemi pictures and titles -->
          {% for x in hemidata %}
          <div class='col-lg-6 col-xs-12 pt-4'>
            <div class="card" style="width: 35rem;">
              <img class="card-img-top img-fluid" src= {{ x.img_url }} alt="Card image cap">
              <div class="card-body">
                <h5 class="card-title">{{ x.title }}</h5>
              </div>
              <!-- end of card body div -->
            </div>
            <!-- end of card div -->
          </div>
          {% endfor %}
          <!-- end of div col 6 (one card) -->
        </div>
        <!-- end of div class row (for mars hemis) -->
      </div>
      <!-- end of div class non header -->
    </div>
    <!-- end of div container -->
</body>
</html>